<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }}{{ .Site.Title }} — {{ .Site.Params.tagline | default .Site.Params.description }}{{ else }}{{ .Title }} · {{ .Site.Title }}{{ end }}</title>
<meta name="description" content="{{ .Site.Params.description }}">
<link rel="icon" type="image/png" href="{{ "images/logo.png" | relURL }}">
<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .RelPermalink }}">
{{ end -}}
{{ range .Translations -}}
<link rel="alternate" hreflang="{{ .Site.Language.LanguageCode | default .Site.Language.Lang }}" href="{{ .Permalink }}">
{{ end -}}
